/* ################################################# */
/* ------------------- GENERAL --------------------- */
/* ################################################# */


:root.dark{
    /* ------------------- DARK MODE --------------------- */
    --main_back_clr : #000000;
    --scnd_back_clr : #0e0000;
    --text_color: #ffffff;
    --box_back_color:  #300b0b; /* couleur des fonds des sections */
    --button_back_color: #8e2323;  /* couleur de fond des boutons */
    --card_color:#61101078;
    --borders : 1px solid #a51717; /* parametrage des bords */
    --big_box_shadow: 0px 0px 15px 5px #98313146; /* les ombres des grandes sections */
    --interact_shadow: 0px 0px 15px 2px #ff0000;
    --h2_colors : #ffffff;
}

:root.light{
    /* ------------------- WHITE MODE --------------------- */
    --main_back_clr : #ffffff;
    --scnd_back_clr : #ffcece;
    --text_color:#000000;
    --box_back_color:  #c57373; /* couleur des fonds des sections */
    --button_back_color: #f89c9c;  /* couleur de fond des boutons */
    --card_color:#ac5050;
    --borders : 1px solid #ffffff; /* parametrage des bords */
    --big_box_shadow: 0px 0px 15px 5px #d563637f; /* les ombres des grandes sections */
    --interact_shadow: 0px 0px 15px 2px #ff5656;
    --h2_colors : #000000;

}


body{

    background-color: var(--main_back_clr);
    color: var(--text_color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: background_color_change 20s ease-in-out infinite;
}       

#scroll_btn{
    filter:blur(1px);
    color: white;
    text-decoration: none;
    position: fixed;
    width: 39px;
    right: 10px;
    bottom: 10px;
    background-color: var(--box_back_color);
    padding: 5px;
    border-radius: 5px;
    border: var(--borders);
    text-align: center;
    font-size: 34px;
    align-items:center;

}


@keyframes background_color_change{
    0%{background-color: var(--main_back_clr);}
    50%{background-color: var(--scnd_back_clr);}
    100%{background-color: var(--main_back_clr);}
} 

.titres_sections{
    text-align: center;
    color: var(--h2_colors);
}

/* ################################################# */
/* -------------------- NAVBAR --------------------- */
/* ################################################# */

nav{
    box-shadow: var(--big_box_shadow);
    border: var(--borders);
    height: fit-content;
    padding: 5px;
    background-color: var(--box_back_color);
    border-radius: 20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    img{
        margin-left: 5px;
    }
}

#navbar{
    padding: 6px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

#navbar a{
    margin: 3px;
    color: var(--text_color);
    background-color: var(--button_back_color);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

#navbar a:hover{
    border: var(--borders);
    box-shadow: var(--interact_shadow);
    transition: all 0.1s ease;
}
        
/* ################################################# */
/* ---------------------- HERO --------------------- */
/* ################################################# */
#hero, #api_zone{
    box-shadow: var(--big_box_shadow);
    background-color: var(--box_back_color);
    border-radius: 20px ;
    display: flex;
    height:fit-content;
    width: fit-content;
    justify-content: space-between;
    margin: 40px auto 10px auto;
}

#texte_hero{
    margin: 30px 30px 30px 100px;
    width: 400px;
    text-align: center;
    overflow: scroll;
}

#pp{
    margin: 20px;
}

img{
    border-radius: 10px;
}

/* ################################################# */
/* -------------------- PROJECTS ------------------- */
/* ################################################# */

#projects{
    background-color: var(--box_back_color);
    box-shadow: var(--big_box_shadow);
    height:fit-content;
    width:fit-content;
    margin: auto;  /* centring */
    padding: 10px;
    /* border: 2px solid green;  juste pour voir les bords */ 
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

/* ################################################# */
/* ------------------ PROJECTS.CARD ---------------- */
/* ################################################# */

.card{
    margin: 5px;
    min-width: 290px;
    max-width: 300px;
    align-items: center;
    background-color: var(--card_color);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    max-height: 500px;
    scale: 1;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
}

.card:hover{
    transform: scale(1.05);
    border: var(--borders);
    box-shadow: var(--box_back_color);
    transition: all 0.3s ease-in-out;

}

/* ################################################# */
/* ------------------- CARD.BADGES ----------------- */
/* ################################################# */

.zone_badges{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.badges{
    border: 1px solid transparent;
    zoom: 1;
    background-color: var(--button_back_color);
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    min-width: 50px;
    text-align: center;
    transition: all 0.2s ease;
}

.badges:hover{
    box-shadow: var(--interact_shadow);
    border: var(--borders);
    zoom: 1.1;
    transition: all 0.2s ease;
}

/* ################################################# */
/* ---------------------- ABOUT -------------------- */
/* ################################################# */

#about{
    box-shadow: var(--big_box_shadow);
    margin: 10px;
    padding: 30px;
    background-color: var(--box_back_color);
    border-radius: 10px;
}

/* ################################################# */
/* --------------------- FOOTER -------------------- */
/* ################################################# */

footer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 30px;
    margin: 30px auto 10px auto;
    padding: 5px;
    background-color: var(--box_back_color);
    border-radius: 10px ;
    bottom: 0px;
    a{
        margin: 5px;
        text-decoration: none;
        color: var(--text_color);
    }
}

/* ################################################# */
/* ---------------- MEDIA QUERIES ------------------ */
/* ################################################# */

@media screen  and (max-width: 799px){
    nav{
        flex-direction : column-reverse;
        justify-content:center;
        text-align: center;
    }
    #hero{
        flex-direction : column-reverse;
        justify-content:space-around;
        text-align: center;

        img{
        margin: 5px;
        }

    #texte_hero{
        margin: 10px;
        }
    }
    #projects{
    justify-content: center;
    min-width: none;
    width: min-content;
    }
}

/* ################################################# */